* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	padding-top: 4em;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"nav"
		"main"
		"footer";
	color: #eaeaea;
	background-color: #2c2c2c;
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

nav {
	grid-area: nav;
	width: 100%;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #151515;
	/* font-family: Arial, sans-serif; */
}

main {
	grid-area: main;
	min-height: 100vh;
	padding: 2em;
}

aside {
	grid-area: aside-left;
	width: 220px;
	height: 100%;
	padding: 2em 1em;
	display: none;
	position: fixed;
	top: 3.5em;
	left: 0;
	overflow-y: auto;
	background-color: #1a1a1a;
	border-right: 1px solid #bfbfbf;
	z-index: 999;
}

footer {
	grid-area: footer;
	width: 100%;
	min-height: 200px;
	padding: 2em;
	z-index: 1000;
}

p {
	margin-bottom: 0.5em;
}

hr {
	margin-bottom: 2em;
}

@media (min-width: 600px) {
	body {
		grid-template-columns: 250px 3fr;
		grid-template-areas:
			"nav nav"
			"aside-left main"
			"footer footer";
	}

	main {
		padding: 2em 3em;
	}

	aside {
		display: block;
		width: 250px;
	}
}

@media (min-width: 1024px) {
	body {
		grid-template-columns: 300px 3fr 1fr;
		grid-template-areas:
			"nav nav nav"
			"aside-left main aside-right"
			"footer footer footer";
	}

	main {
		padding: 2em 5em;
	}

	aside {
		display: block;
		width: 300px;
	}
}
