* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	position: relative;
	color: #eaeaea;
	background-color: #2c2c2c;
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

main {
	width: 700px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 8em 2em 4em 2em;
}

p {
	margin-bottom: 0.5em;
}

hr {
	margin-bottom: 2em;
}
