* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	position: relative;
	color: #eaeaea;
	background-color: #2c2c2c;
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

main {
	min-height: 100vh;
	padding: 3em 5em;
}
