nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25em;
	margin: 0 1em;
	gap: 0.25em;
}

nav li {
	min-width: 50px;
	margin: 0 0.25em;
	text-align: center;
	font-size: 2em;
	letter-spacing: -1px;
	border-bottom: 2px solid transparent;
	transition: border-color 0.3s ease;
}

nav li:hover {
	border-bottom: 2px solid #afafaf;
}

nav li a {
	padding: 0.25em 0.5em;
	display: block;
	transition: color 0.3s ease;
}

nav li a:hover {
	color: #bfbfbf;
}
