aside ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

aside li {
	margin-bottom: 1em;
}

aside a {
	display: block;
	text-decoration: none;
	color: #eaeaea;
	font-size: 1em;
	padding: 0.5em 0.75em;
	border-radius: 4px;
	transition: background-color 0.2s, color 0.2s;
}

aside a:hover {
	background-color: #bfbfbf;
	color: #fff;
}
