a,
a:visited,
a:hover,
a:active {
	color: inherit;
	font-family: inherit;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
	outline: none;
}

a.basic-link {
	color: #4355ea;
	text-decoration: underline;
}

a.basic-link:hover {
	color: #4344ff;
	text-decoration: underline;
}
