h1 {
	margin-bottom: 1em;
	text-align: center;
	font-size: 3em;
}

h2 {
	margin-bottom: 1em;
}

h3,
h4 {
	margin-bottom: 0.5em;
}

.error-title {
	text-align: center;
	color: #df1f1f;
}

.error-sub-title {
	text-align: center;
	color: #af1f1f;
}
