ul.countries-list {
	display: flex;
	gap: 0.5em 1.5em;
	flex-wrap: wrap;
}

a.country-link {
	min-width: 20px;
	height: 40px;
	padding: 0 0.8em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	color: #ff8c32;
	background-color: #5f5f5f;
	box-shadow: 0 4px 10px #00000077;
	transition: all 0.2s ease;
}

a.country-link:hover {
	color: #ffa14f;
	background-color: #6b6b6b;
	box-shadow: 0 6px 14px #00000099;
}

.tourist-sites-details {
	margin-bottom: 2em;
}

.tourist-sites-details .counter {
	color: #a1a1a1;
}
